CONTENTFUL_SPACE_ID=your Space ID
CONTENTFUL_ACCESS_TOKEN=Content Delivery API token
CONTENTFUL_PREVIEW_ACCESS_TOKEN=Content Preview API token

STRAPI_API_TOKEN=your Strapi API token

MAILGUN_API_KEY=your Mailgun private API key
MAILGUN_LIST_ADDRESS=info@tum-blockchain.com
MAILGUN_API_BASE=https://api.eu.mailgun.net
